<!DOCTYPE html>
<html>
    <head>
        <title>Sinatra Sessions Lab!!</title>
    </head>
<body>

<form method="POST" action="/checkout">
    <input type="text" name="item" placeholder="Item to purchase">
    <button type="submit" id="submit" />Submit</button>
</form>

</body>
</html>